<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bookstore.dao.mapping.BookOrderMapper" >
  <resultMap id="BaseResultMap" type="com.bookstore.dao.pojo.BookOrder" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="oid" property="oid" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="oname" property="oname" jdbcType="VARCHAR" />
    <result column="adress" property="adress" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    oid, date, oname, adress, status, uid
  </sql>
</mapper>